<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/35a22a28-c5ce-4ce6-a264-4d002ee815ff/resourceGroups/PenAndPaper/providers/Microsoft.Web/sites/AccessDataApi</ResourceId>
    <ResourceGroup>PenAndPaper</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://accessdataapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>accessdataapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AccessDataApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AccessDataApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>