
@{
    ViewData["Title"] = "Home Page";
}
<head>
        <link rel="stylesheet" href="~/css/site.css" />
</head>
    <div class="jumbotron">
            <h1 class="display-3">Hello, Project A!</h1>
            <p class="lead"> Beauty Salon Website</p>
            <hr class="my-4">
            <p> This pro is primarily a testing ground to improve my coding abilities and apply what I've learnt</p>
    </div>

    <div class="row" style="margin:auto">
        <div class="column">
            <img src="@Url.Content("~/Images/Image1.jpg")" alt="NailPhoto" style="width:100%">
        </div>
        <div class="column">
            <img src="@Url.Content("~/Images/Image2.jpg")" alt="NailPhoto" style="width:100%">
        </div>
        <div class="column">
            <img src="@Url.Content("~/Images/Image3.jpg")" alt="NailPhoto" style="width:100%">
        </div>
        <div class="column">
            <img src="@Url.Content("~/Images/Image4.jpg")" alt="NailPhoto" style="width:100%">
        </div>
    </div>

